<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ur.mapper.CounselorMapper">
    <!-- 查询咨询师列表 -->
    <select id="selectCounselors" resultType="com.ruoyi.ur.domain.vo.CounselorVo">
        SELECT
        c.id,
        c.name,
        c.avatar,
        c.title,
        c.is_verified AS isVerified,
        c.tags,
        c.price,
        c.rating,
        c.session_count AS sessionCount,
        c.introduction
        FROM ur_counselor c
        <where>
            <!-- 按关键词搜索 -->
            <if test="request.keyword != null and request.keyword != ''">
                AND (c.name LIKE CONCAT('%', #{request.keyword}, '%')
                OR c.introduction LIKE CONCAT('%', #{request.keyword}, '%'))
            </if>

            <!-- 按分类筛选 -->
            <if test="request.categoryId != null and request.categoryId != ''">
                AND EXISTS (
                    SELECT 1 FROM ur_disease_tags dt 
                    WHERE dt.id = #{request.categoryId}
                    AND JSON_CONTAINS(c.tags, JSON_QUOTE(dt.name), '$')
                )
            </if>
        </where>

        <!-- 排序逻辑 -->
        <choose>
            <when test="request.sortBy == 'rating'">
                ORDER BY c.rating DESC
            </when>
            <when test="request.sortBy == 'priceAsc'">
                ORDER BY c.price ASC
            </when>
            <when test="request.sortBy == 'priceDesc'">
                ORDER BY c.price DESC
            </when>
            <otherwise>
                ORDER BY c.id DESC
            </otherwise>
        </choose>

    </select>

    <!-- 统计总数 -->
    <select id="countCounselors" resultType="int">
        SELECT COUNT(*)
        FROM ur_counselor c
        <where>
            <!-- 按关键词搜索 -->
            <if test="request.keyword != null and request.keyword != ''">
                AND (c.name LIKE CONCAT('%', #{request.keyword}, '%')
                OR c.introduction LIKE CONCAT('%', #{request.keyword}, '%'))
            </if>

            <!-- 按分类筛选 -->
            <if test="request.categoryId != null and request.categoryId != ''">
                AND EXISTS (
                    SELECT 1 FROM ur_disease_tags dt 
                    WHERE dt.id = #{request.categoryId}
                    AND JSON_CONTAINS(c.tags, JSON_QUOTE(dt.name), '$')
                )
            </if>
        </where>
    </select>

    <select id="selectReviewsByCounselorId" resultType="com.ruoyi.ur.domain.dto.CounselorReviewDto">
        SELECT 
            r.review_id AS id,
            u.nickname AS user,
            r.content,
            r.rating,
            DATE_FORMAT(r.create_time, '%Y-%m-%d') AS time
        FROM ur_counselor_reviews r
		JOIN ur_orders o ON r.order_id = o.id
		JOIN ur_appointments a ON o.appointment_id = a.id
        JOIN ur_user_info u ON a.user_id = u.id
        WHERE r.counselor_id = #{counselorId}
        ORDER BY r.create_time DESC;
    </select>

    <select id="selectCounselorById" resultType="com.ruoyi.ur.domain.dto.CounselorDetailRequest">
        SELECT 
            c.id,
            c.name,
            c.avatar,
            c.title,
            c.is_verified AS isVerified,
            c.tags,
            c.price,
            c.rating,
            c.session_count AS sessionCount,
            c.introduction,
            c.education,
            c.experience,
            c.certificates,
            c.services,
            c.availability
        FROM ur_counselor c
        WHERE c.id = #{id}
    </select>
</mapper>
