<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ur.mapper.ReviewMapper">
    <resultMap type="Review" id="ReviewResult">
        <id property="reviewId" column="review_id"/>
        <result property="counselorId" column="counselor_id"/>
        <result property="orderId" column="order_id"/>
        <result property="content" column="content"/>
        <result property="rating" column="rating"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="insert" parameterType="Review">
        INSERT INTO ur_counselor_reviews (
            review_id,
            counselor_id,
            order_id,
            content,
            rating,
            create_time
        ) VALUES (
            #{reviewId},
            #{counselorId},
            #{orderId},
            #{content},
            #{rating},
            #{createTime}
        )
    </insert>

    <update id="update" parameterType="Review">
        UPDATE ur_counselor_reviews
        SET content = #{content},
            rating = #{rating}
        WHERE review_id = #{reviewId}
    </update>

    <select id="selectByOrderId" resultMap="ReviewResult">
        SELECT * FROM ur_counselor_reviews
        WHERE order_id = #{orderId}
        LIMIT 1
    </select>

    <!-- 获取全部评论接口 -->
    <select id="selectReviews" resultType="com.ruoyi.ur.domain.dto.CounselorReviewDto">
        SELECT 
            r.review_id AS id,
            u.nickname AS user,
            r.content,
            r.rating,
            DATE_FORMAT(r.create_time, '%Y-%m-%d') AS time
        FROM ur_counselor_reviews r
        JOIN ur_orders o ON r.order_id = o.id
        JOIN ur_appointments a ON o.appointment_id = a.id
        JOIN ur_user_info u ON a.user_id = u.id
        WHERE r.counselor_id = #{targetId}
        ORDER BY r.create_time DESC
    </select>
</mapper>
